<!DOCTYPE html>
<html>
  <head>
    <title>Simple listing !</title>
  <head>
  <body>
    <p>All Students</p>
	
	<table border="1">
	  <tr>
		<th>Name</th>
		<th>Email</th>
		<th>Progress</th>
	  </tr>
    
	  {% for student in students %}
	  <tr>
		<td>{{ student.name }}</td>
		<td>{{ student.email }}</td>
		<td>{% if student.progress %}{{ student.progress.value }}{% endif %}</td>
	  </tr>
	  {% endfor %}
	<table/>
  </body>
</html>
